//this is a schema for colors do not use it in your code base we will remove it later when pallet is ready in theme folder
root{
  //recommended by teammate
  --primary-c:blue,
  --secondary-c:red,
  --grey-c:#888,
  // status
  --error-c,
  --success-c,
  --warning-c,
  --info-c
  //and about shade
  --primary-c-100:#44000000;
  // we must have this color but use semantic color name in our code base
  // we must define contrast text color for success, error, primary, ... most of the are #fff by default but they can be changed in theme
  --success-contrast-text:#fff;
}